.header {
    background-color: #023489;
    color: #fff;
}
.footer {
    background-color: #023489;
    height: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}
.icon {
    color: #fff;
    font-size: 35px;
    padding-left: 6px;
    padding: 6px;
    padding-top: 8px;
    transition: 1s;
}
.icon:hover {
    color: #6a9cf1;
}
