.header {
    background-color: #023489;
    color: #fff;
}
.footer {
    padding: 6px;
    background-color: #023489;
    color: #fff;
}
.icon {
    color: #fff;
    font-size: 35px;
    padding-left: 6px;
    padding: 6px;
    padding-top: 8px;
    transition: 1s;
}
.icon:hover {
    color: #6a9cf1;
}
